<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do!</title>
</head>

<body>
    <header>
        <h1>Welcome to To Do</h1>
    </header>
    <main>
        <section>
            <form action="/addTask" method="post">
                <input type="text" name="name" id="name" placeholder="name">
                <input type="text" name="desc" id="desc" placeholder="description">
                <button type="submit">Submit task</button>
            </form>
            <a href="/tasks">View your To Do!</a>
        </section>
    </main>
</body>

</html>